.sub-container-of-poultry-products{
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.show-poultry-item{
    width: 220px;
    height: 260px;
    margin: 10px 20px 15px 0px;
    display: block;
    text-align: center;
}

.hide-poultry-item {
    display: none;
}

.images-of-poultry-component {
    width: 95%;
    height: 65%;
}